.open-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.open-icon span {
    width: 12px;
    height: 2px;
    background-color: #263d5a;
    position: absolute;
    transition: all 0.2s linear;
}

.open-icon :nth-child(1)  {
    transform: rotate(90deg);
}


/* === Dynamic animation == */
.open-icon.is-active :nth-child(1)  {
    transform: rotate(130deg);
}

.open-icon.is-active :nth-child(2)  {
    transform: rotate(45deg);
}



